/*   *** Media Query Starts ***   */

/* Screem size 1440px or Smaller  */
@media(min-width: 1400px){
	.home {
		min-height: 70vh;
	}

	.home .hero {
		position: relative;
		width: 100%;
		min-height: 70vh;
	}

	.logo {
		font-size: 2.5rem;
	}

    .navbar ul.nav-links li a {
		font-size: 20px;
	}

	.hero .hero-text h3 {
		font-size: 25px;
	}

	.hero .hero-text h2 {
		font-size: 26px;
	}
	.hero .hero-text p {
		font-size: 18px;
	}
	.about .about-desc h2 {
		font-size: 25px;
	}
	.about .about-desc p {
		font-size: 18px;
	}

	.about-personal-info div span {
		font-size: 16px;
	}

	.about-containers{
		gap: 6rem;
	}

	.Website-container section.reusable .headings h3 {
		font-size: 20px;
	}
	.Website-container section.reusable .headings h1 {
		font-size: 35px;
	}
	.educationexperience-contents .box p {
		font-size: 17px;
	}
	
	.details-container {
		padding: 2.2rem;
		border-radius: 2.6rem;
		border-width: 0.18rem;
	}
	
	.details-container h2{
		font-size: 28px;
		margin-bottom: 26px;
	}
	
	.article-container {
		gap: 0.8rem;		
	}
	
	article {
		gap: 0.8rem;
	}
	
	article .icon {
		height: 1.8rem;
	}
	
	.inside-box h3 {
		font-size: 1.4em;
		margin-block-start: 1.2em;
		margin-block-end: 1.2em;
	}
	
	.inside-box p {
		color: var(--text-clr);
		font-size: 1.2em;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
	.column-2 .form-2 textarea {
		font-size: 20px;
	}
	.column-2 .form-2 .form-button {
		font-size: 20px;
	}
	.footer-contents a {
		font-size: 25px;;
	}
	.footer-contents p {
		font-size: 18px;
	}
}


/*   === Screen Size 1100px or Smaller  ===   */
@media(max-width: 1100px){
	/* Home Section */
	.navbar ul.nav-links li{
		margin: 0px 16px;
	}
	/* Services Section */
	.services-container .service-box{
		flex-basis: 48%;
	}
	/* Portfolio Section */
	.portfolio .gallery .item{
		width: calc(100% / 2);
	}
}



/*   === Screen Size 768px or Smaller  ===   */
@media(max-width: 768px){

	.home .hero {
		min-height: 70vh;
	}
	.home {
		min-height: 70vh;
	}
	/* Home Section */
	.navbar .menu-btn{
		display: block;
		margin-left: 30px;
		z-index: 101;
	}
	.navbar .menu-btn.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.navbar .menu-btn.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.navbar .menu-btn.active .bar:nth-child(2){
		transform: translateX(-30px);
		opacity: 0;
	}

	.navbar ul.nav-links{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		/*right: 0;*/
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--primary-light-clr);
		transition: right 0.3s cubic-bezier(1, 0.3, 0.3, 1);
		z-index: 100;
	}
	.navbar ul.nav-links.active{
		right: 0;
	}
	.navbar ul.nav-links li{
		margin: 25px 0px 0px;
	}
	.navbar ul.nav-links li:nth-child(1){
		margin-top: 180px;
	}
	.navbar ul.nav-links li a{
		font-size: 18px;
		letter-spacing: 2px;
	}
	.navbar .button-wrapper{
		margin-left: auto;
	}
	.hero .hero-image img{
		opacity: 0.3;
	}
	.home .career-container{
		grid-template-columns: 1fr;
	}

	/* About Section */
	.about{
		flex-direction: column;
	}
	.about .about-desc{
		flex-basis: 100%;
		margin-left: 0px;
		margin-top: 20px;
	}
	.about-desc .about-personal-info{
		grid-template-columns: 1fr;
		grid-gap: 10px 20px;
		margin-top: 14px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--primary-light-clr);
	}
	.about .about-image{
		flex-basis: 100%;
		min-height: 300px;
	}
	.about .about-image img{
		min-width: 150px;
		min-height: 200px;
	}
	.about .about-image img{
		padding-bottom: 840px;
		
	}

	/* Resume Section */
	.educationexperience .educationexperience-row{
		flex-direction: column;
	}
	.educationexperience-row .column-right{
		margin-top: 30px;
	}
	/* Contact Section */
	.contact-form .contact-row{
		flex-direction: column;
	}
	.contact-row .column-1,
	.contact-row .column-2{
		flex-basis: 100%;
	}
	.contact-row .column-1{
		min-width: 250px;
		padding: 20px;
	}
	.column-2 .form-2 textarea{
		margin-top: 0px;
		height: 200px;
	}
	.column-2 .form-2 .inputGroup{
		border: 1px solid #ddd;
	}
	/* skills Section */
	.about-containers{
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		gap: 1.2rem;
	}
	
	.details-container {
		padding: 1.2rem;
		border-radius: 2.5rem;
		border: rgb(53, 53, 53) 0.1rem solid;
		border-width: 0.13rem;
		border-color:var(--primary-clr) ;
		text-align: center;
	}
	
	.details-container h2{
		font-size: 22px;
		color: var(--primary-clr);
		margin-bottom: 25px;
	}
	
	.article-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: start;
		gap: 0.8rem;
		text-align: initial;
		
	}
	
	article {
		display: flex;
		width: 8rem;
		flex-wrap: wrap;
		gap: 0.9rem;
	}
	
	article .icon {
		cursor: pointer;
		height: 1.5rem;
	}
	
	.inside-box h3 {
		color: var(--secondary-heading);
		display: block;
		font-size: 1em;
		margin-block-start: 1em;
		margin-block-end: 1em;
		font-weight: bold;
	}
	
	.inside-box p {
		color: var(--text-clr);
		font-size: 0.9em;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
	
	}
}
/* Screen Size 425px  */
@media(max-width: 425px){
	.Website-container section.reusable .headings h3 {
		font-size: 19px;
	}
	.Website-container section.reusable .headings h1 {
		font-size: 34px;
	}
	.about-containers{
		display: inline-block;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		gap: 4rem;
	}
	
	.details-container {
		padding: 1rem;
		border-radius: 2.5rem;
		border: rgb(53, 53, 53) 0.1rem solid;
		border-width: 0.15rem;
		border-color:var(--primary-clr) ;
	}

	.first-detail-container{
		margin-bottom: 40px;
	}
	
	.details-container h2{
		font-size: 27px;
		color: var(--primary-clr);
		margin-bottom: 25px;
	}
	
	.article-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: start;
		gap: 0.6rem;
		text-align: initial;
		
	}
	
	article {
		display: flex;
		width: 8rem;
		gap: 0.6rem;
	}
	
	article .icon {
		cursor: pointer;
		height: 1.6rem;
	}
	
	.inside-box h3 {
		color: var(--secondary-heading);
		display: block;
		font-size: 1em;
		margin-block-start: 1em;
		margin-block-end: 1em;
		font-weight: bold;
	}
	
	.inside-box p {
		color: var(--text-clr);
		font-size: 0.9em;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
	.contact-form {
		width: 100%;
		padding: 20px 8% 50px;
	}
	.about .about-image img {
		padding-bottom: 0px;
	}
	.about .about-desc p {
    font-size: 18px;
}
}

/*   === Screen Size 600px or Smaller  ===   */
@media(max-width: 600px){
	/* Portfolio Section */
	.portfolio .gallery .item{
		width: 100%;
	}
}

/*   === Screen Size 550px or Smaller  ===   */
@media(max-width: 550px){
	/* Home Section */
	.hero .hero-image{
		right: -200px;
	}
	/* Footer Section */
	.page-footer .footer-contents{
		flex-direction: column;
	}
	.footer-contents a{
		margin-bottom: 10px;
	}
	.footer-contents p{
		margin-bottom: 10px;
	}
}

/*   === Screen Size 350px or Smaller  ===   */
@media(max-width: 350px){
	button.contact-btn{
		display: none;
	}
	
}

/*   *** Media Query Ends ***   */